@import "./reset.scss";
@import "./_mixins.scss";

$color-brand: #22262a;
$color-font: #2C2F33;
$color-yellow:#FFCA00;
$color-input:#E1E8ED;

$white: #ffffff;
$black: black;

$font-simple:16px;
$font-title: 20px;
$letter-spacing-small: .2px;
$letter-spacing-normal: .3px;

$phone: 375px;
$mobile: 768px;
$small: 992px;
$desktop: 1599px;

$transition:0.7s;
$cubicOnly: cubic-bezier(.5, .6, .51, .92);
$cubic: .3s $cubicOnly;

$z-index: (
  null: 0,
  flash: 1,
);