html {
    font-size: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
* {
    font-size: 100%;
    font-family: "Noto Sans JP", sans-serif;
}
  
body {
  font-size: 16px;
  position: relative;
  min-height: 100%;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: 0.45s
}

